.front{
    height:100vh;
    background:linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.6)),
    url(luxuria-bag.jpg) center/cover no-repeat;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:0 20px;
}

.front h1{
    font-family:'Cormorant Garamond', serif;
    font-size:70px;
    letter-spacing:10px;
    animation:fadeUp 1.5s ease;
    color: rgb(255, 255, 255);
}

.button{
    margin-top:35px;
    padding:15px 40px;
    border:2px solid #fdfdfd;
    background:transparent;
    color:#d4af37;
    letter-spacing:2px;
    cursor:pointer;
    transition:0.4s;
    font-weight: bold;
}
